{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<h1>Task List</h1>
<ul>
    {% for task in tasks %}
    <li>
        <strong>Description:</strong> {{ task.description }}<br>
        <strong>Status:</strong> {{ task.status }}<br>
        <strong>Date of finish:</strong> {% if task.due_date %}
            until {{ task.due_date }}<br>
        {% endif %}
        <a href="{% url 'delete_task' task.id %}" class="button button-danger">Delete</a>
        <a href="{% url 'task_detail' task.id %}" class="button">View Details</a>
        <a href="{% url 'edit_task' task.id %}" class="button">Edit</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'add_task' %}" class="button">Add Task</a>
{% endblock %}
