{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
<h1 class="mb-4">Task List</h1>
<form method="post">
    {% csrf_token %}
    <div class="card-columns">
        {% for task in tasks %}
        <div class="card">
            <div class="card-body">
                <input type="checkbox" name="tasks" value="{{ task.id }}" class="mr-2">
                <h5 class="card-title">Description: {{ task.description }}</h5>
                <p class="card-text"><strong>Status:</strong> {{ task.status }}</p>
                <p class="card-text"><strong>Date of finish:</strong> {% if task.due_date %} until {{ task.due_date }} {% endif %}</p>
                <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-danger mt-3">Delete</button>
</form>
{% endblock %}
