<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}" class="form-label">Description:</label>
        {{ form.description }}
    </div>
    
    <div class="form-group">
        <label for="{{ form.details.id_for_label }}" class="form-label">Details:</label>
        {{ form.details }}
    </div>
    
    <div class="form-group">
        <label for="{{ form.status.id_for_label }}" class="form-label">Status:</label>
        {{ form.status }}
    </div>
    
    <div class="form-group">
        <label for="{{ form.due_date.id_for_label }}" class="form-label">Date (YYYY-MM-DD):</label>
        {{ form.due_date }}
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
